[submodule "vcpkg"]
	path = extern/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "sdl"]
	path = extern/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "extern/skity"]
	path = extern/skity
	url = git@github.com:vorlac/Skity.git
[submodule "extern/tracy"]
	path = extern/tracy
	url = https://github.com/wolfpld/tracy.git
